.titleOfCart {
    font-size: 35px;
    text-align: center;
    color: darkorange;
}

.row.snack {
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: gray;
    padding-top: 25px;
}

button.remove.col-xs-1 {
    margin-top: 15px;
    background-color: red;
    margin-bottom: 15px;
}